:root {
    --banner-color: linear-gradient(90deg, rgb(30, 144, 255), rgb(55, 0, 120));
    --good-color: green;
    --medium-color: yellow;
    --high-color: crimson;
    --background-color: light rgb(170, 170, 170);
}
* {
    font-family: sans-serif;
    margin: 0;
}

body {
background-color: var(--background-color);
}

.banner {
    background: var(--banner-color);
    height: 10vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
    font-weight: 500;
}

div input {
    width: 100%;
    outline-style: solid;
    outline-width: 0.5px;
    height: 5vh;
}

h3 {
    padding-top: 2vh;
}

.btn {
    width: 100%;
    opacity: 1;
}

.btn:hover {
    opacity: 2;
}

#searchBtn {
    margin-bottom: 3vh;
}

.saveSearch {
    padding-top: 3vh;
    border-top: solid 1px black;
}

.currentWeather {
    opacity: 0;
}

.Good, .Medium, .High {
    border-radius: 10%;
    border-style: inset;
}

.Good {
    background-color: var(--good-color);
    margin-left: 1vh;
    width: 8vh;
    color: white;
}

.Medium {
    background-color: var(--medium-color);
    margin-left: 1vh;
    width: 8vh;
}

.High {
    background-color: var(--high-color);
    color: white;
    margin-left: 1vh;
    width: 8vh;
}

.cityHeader {
    align-content: left;
    padding-top: 1vh;
    padding-left: 1vh;
    margin-bottom: 0px;
}

.list-group-item {
    padding-left: 1vh;
    border: none;
    padding-top: 0.5vh;
}

.futureForcast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(188, 201, 230);
    margin-bottom: 1vh;
}

.card-title {
    font-weight: bold;
    padding-top: 1vh;
}

.btn-secondary {
    margin-bottom: 2vh;
}